#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main.is-centered {
  display: flex;
  align-items: center;
}

.column {
  height: 100%;
}

.leaflet-container {
  height: calc(100vh - 300px);
  width: 100%;
}

.column.is-three-quarters {
  margin-left: auto;
}
